body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

.list {
    border:1px solid #ccc;
    margin: 5% 15% 0% 15%;
    padding: 16px;
}

input[type=text], input[type=file],input[type=date], textarea, select, textarea, select {
    width: 90%;
    padding: 5%;
    margin: 5%;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=file]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 8px;
}

a:focus{
    outline: none;
}

button:hover {
    opacity:1;
}

.createToDoItem{
    margin-left: 0%;
    margin-top: 10%;
    margin-right: 0%;
    background-color: rgb(58, 58, 190);
    color: white;
}

.switchToProfile{
    width: 100%;
    color: white;
    margin-top: 10%;
}

.logout{
    color: white;
    background-color: crimson;
    margin-top: 10%;
}

.selectTasksToDelete{
    color: white;
    background-color: rgb(197, 194, 30);
    margin-bottom: 7%;
    margin-left:7%;
}

.cancelDelete{
    color: white;
    background-color: #04AA6D;
    margin-bottom: 7%;
    margin-left:7%;
}

.deleteTask{
    color: white;
    background-color: crimson;
    margin-bottom: 7%;
    margin-left:14%;
}

.filterBy{
    color: white;
    background-color: rgb(58, 58, 190);
    margin-bottom: 7%;
    margin-left:25%;
}

.dateFilter{
    color: white;
    background-color: rgb(58, 58, 190);
    margin-bottom: 7%;
    margin-left:25%;
}

.doneBtn{
    width: 10%;
    margin-left: 85%;
    margin-top: 1%;
    margin-bottom:5%;
    color: white;
}

.categoryFilter{
    color: white;
    background-color: rgb(58, 58, 190);
    margin-bottom: 7%;
    margin-left:30%;
}

.goSearch{
    margin-left: 80%;
}