body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

form {
    border:1px solid #ccc;
    margin: 0% 25% 0% 25%;
}

input[type=text], input[type=file],input[type=date], textarea, select, textarea, select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=file]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  #ToDoItemValidationMessage{
      display: none;
      text-align: center;
      color: crimson;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 8px;
  }
  
  button:hover {
    opacity:1;
  }
  
  .createToDoBtn {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  .editToDoBtn{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(58, 58, 190);
  }

  .saveToDoBtn{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .cancelCreateToDoBtn {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(206, 40, 40);
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .toDoImageDisplay{
    max-width: 120px;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .signupbtn {
       width: 100%;
    }
  }